.form-container {
    height: fit-content;
    top: 80%;
}

.filler {
    width: 80%;
    height: 165%;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: auto;
    background-color: rgb(255, 89, 74);
}

.footer {
    width: 100%;
    height: 850px;
    margin: 0 auto;
    position: absolute;
    top: 190%;
    background-color: transparent;
    z-index: 1;
}

.form-container textarea {
    border: 0.5px solid rgba(153, 153, 153, 0.9);
    height: 200px;
    font-size: 25px;
}
.form-container input {
    border: 0.5px solid rgba(153, 153, 153, 0.9);
}

.form-container label {
    margin-top: 15px;
}

.form-container p {
    font-size: 18px;
}

.form-container form {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "name age"
        "email cellphone"
        "address address"
        "city state"
        "zipcode hometype"
        "vet-name vet-cellphone"
        "pets pets"
        "household household"
        "submit submit"
    ;
    margin-left: 8%;
    margin-right: 8%;
}

.form-email {
    grid-area: email;
}
.form-cellphone {
    grid-area: cellphone;
}
.form-address {
    grid-area: address;
}
.form-city {
    grid-area: city;
}
.form-state {
    grid-area: state;
}
.form-zipcode {
    grid-area: zipcode;
}
.form-hometype {
    grid-area: hometype;
}
.form-household {
    grid-area: household;
}
.form-pets {
    grid-area: pets;
}
.form-submit-btn {
    grid-area: submit;
}
.form-vet-name {
    grid-area: vet-name;
}
.form-vet-cellphone {
    grid-area: vet-cellphone;
}

.application-info-container {
    max-width: 600px;
    width: 600px;
    height: 200px;
    margin: 2% 2% 2% 2%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    overflow-y: scroll;
}

ul {
    padding-inline-start: 0px;
}

.applications-container {
    display: flex;
    justify-content: center;
}

.applications-container li{
    margin-top: 2%;
}

.applicationInfo {
    padding: 5px 10px 5px 10px;
}

.applicationInfo p {
    font-size: 25px;
}
