.main-footer {
    background-color: rgb(255, 89, 74);
    height: 7vw;
    position: relative;
    left:0;
    bottom:0;
    right:0;
    margin: 0;
}

.footer-wrap {
    background-color: rgb(255, 89, 74);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". git logo link ."
        ". . angel . ."
    ;
    padding-bottom: 12px;
}

.bestie-logo-footer {
    width: 9vw;
    position : relative;
    bottom: 4vw;
}

.bestie-logo-link {
    grid-area: logo;
    display: flex;
    justify-content: center;
    position: relative;
}

.bestie-logo-footer:hover {
    -webkit-filter: drop-shadow(0 3px 5px rgb(0 0 0 / 0.4));
    filter: drop-shadow(0 3px 5px rgb(0 0 0 / 0.5));
}

.footer-left-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: git;
    /* margin-right: 20px;
    margin-top: 10px; */
}

.footer-right-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: link;
    /* margin-left: 20px;
    margin-top: 10px; */
}

.angelist-link {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: angel;
    margin: 0px
}



.footer-left-container p,
.footer-right-container p,
.angelist-link p {
    color: white;
    font-size: 35px;
    margin: 0 0 0 0;
}

.footer-left-container p:hover,
.footer-right-container p:hover,
.angelist-link p:hover {
    text-shadow: 3px 3px 3px black;
}
