/* TODO Add site wide styles */



html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    font-family: 'PT Sans Narrow';
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

button, h1 {
    font-family: 'Bebas Neue';
}

input {
    font-family: 'PT Sans Narrow';
    font-size: 22px;
    border: none;
    color: rgba(153, 153, 153, 0.9);
    text-transform: uppercase;
}

textarea {
    font-family: 'PT Sans Narrow';
    font-size: 22px;
    border: none;
    color: rgba(153, 153, 153, 0.9);
}

i {
    font-family: 'FontAwesome';
}

button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

button:hover, button:focus, button:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.6);
}

hr {
    width: 85%;
}


.delete-modal-confirmation {
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "question question"
        "yes no"
    ;
}

.delete-modal-question {
    grid-area: question;
    text-align: center;
    width: 100%;
    padding: 10px 10px 10px 10p;
}

.delete-modal-yes {
    background-color: rgb(255, 89, 74);
    border: none;
    color: white;
    font-size: 40px;
    grid-area: yes;
    margin: auto;
    width: 80px;
}

.delete-modal-no {
    background-color: black;
    border: none;
    color: white;
    font-size: 40px;
    grid-area: no;
    margin: auto;
    width: 80px;
}
