/* TODO Add site wide styles */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    font-family: 'PT Sans Narrow';
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

button, h1 {
    font-family: 'Bebas Neue';
}

input {
    font-family: 'PT Sans Narrow';
    font-size: 22px;
    border: none;
    color: rgba(153, 153, 153, 0.9);
    text-transform: uppercase;
}

i {
    font-family: 'FontAwesome';
}
