


.edit-btns,
.delete-btns {
    max-width: 45px;
    max-height: 45px;
    margin: 10px 10px 10px;
    background-color: transparent;
    border: none;
}

.edit-btns img {
    width: 40px;
    height: 40px;
}

.delete-btns img {
    width:40px;
    height: 40px;
}

.adopt-btn-container {
    padding: none;
    margin: none;
}

.adopt-btn-modal {
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
}

.adopt-btn-container button {
    position: relative;
    grid-area: create;
    background-color: rgb(255, 89, 74);
    border: none;
    border-radius: 4px;
    height: 5%;
    width: 300px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-size: 30px;
    left: 42%;
}

.adopt-btn-modal button {
    position: relative;
    grid-area: create;
    background-color: rgb(255, 89, 74);
    border: none;
    border-radius: 4px;
    height: 5%;
    width: 300px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-size: 30px;
}
