nav {
    background-color: rgb(255, 89, 74);
    height: 6vw;
}

ul {
    list-style-type: none;
}

.menu-wrap {
    display: flex;
    justify-content: space-around;
}

.menu-left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bestie-logo {
    width: 10vw;
    position : absolute;
    top : 2vw;
    left: 45%;
}

.bestie-logo2 {
    width: 11vw;
}
