nav {
    background-color: rgb(255, 89, 74);
    height: 6vw;
    display: block;
}

ul {
    list-style-type: none;
}

.menu-wrap {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
        "left logo right"
    ;
}

.menu-left-container {
    display: grid;
    grid-area: left;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "logo adopt foster"
    ;
}

ul > .logo {
    grid-area: logo;
}
ul > .adopt {
    grid-area: adopt;
}
ul > .foster {
    grid-area: foster;
}

.menu-right-container {
    display: grid;
    grid-area: right;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "donate about auth"
    ;
}

.donate {
    grid-area: donate;
}
.about {
    grid-area: about;
}
.auth {
    grid-area: auth;
}

.bestie-logo {
    width: 8vw;
    position : absolute;
    top : 1vw;
    left: 46%;
    grid-area: logo;
}

.bestie-logo:hover {
    -webkit-filter: drop-shadow(0 3px 5px rgb(0 0 0 / 0.4));
    filter: drop-shadow(0 3px 5px rgb(0 0 0 / 0.5));
}

.bestie-logo2 {
    width: 11vw;
}
